# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# Django
*.log
staticfiles/
media/
.env

# Poetry
poetry.lock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.yml
docker-compose.yml
